.icon, .navbar-brand {
    border-color: white;
    padding-left: 10px;
    color: white;
}

    .icon:hover {
        color: black;
    }

.navbar {
    background-color: green;
}

.loginButton {
    background-color: green;
    border-color: white;
    color: white;
    margin-top:8px;
}

.loginForm {

  border-color: green;
  background-color: white;
  border-style: solid;
  border-width: 1px;
  padding: 30px 30px 30px 30px;
}

.introduction {
  background-color: lightgreen;
}

